# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Environments

.env
venv/
env/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
